@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos</h1>
    <p>Aficionados de la Liga Pro Ecuador, aqui encontrarán informacion sobre los equipos, jugadores y estadios que tanto aman</p>
    <div class="imagenes-bienvenida">
        <img src="~/img/EquiposLiga.jpg" alt="Imagen 1" class="img-liga" />
        <img src="~/img/LogoLigaPro.png" alt="Imagen 2" class="img-liga" />
        <img src="~/img/TrofeoLiga.jpg" alt="Imagen 3" class="img-liga" />
    </div>
</div>
