body {
    background-color: black;
    color: white;
}

header {
    background-color: black;
}

#listaopciones a {
    color: white !important;
    font-size: 25px;
}

#listaopciones a.hover {
    color: #ffd800;
}

.text-center {
    background-color: black;
    color: white;
}


footer {
    background-color: #000000; 
    padding: 20px;
    color: #FFFFFF;
    text-align: center;
}

footer a {
    color: #0026ff; /* Enlaces azules */
}

footer a:hover {
    color: #FF0000; /* Enlaces rojos al pasar el ratón */
}

.imagenes-bienvenida {
    display: flex;
    justify-content: center;
    gap: 30px; /* Espaciado entre imágenes */
    margin-top: 20px; /* Espacio entre el texto y las imágenes */
}

.img-liga {
    width: 350px; 
    height: auto; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
}